<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支付成功</title>
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script>
       $(function(){
           setTimeout(a,3000);
       });

       function a(){
           window.location.href="about:blank";
           window.close();
       }
    </script>
</head>
<body>
    <div style="width:400px;height:250px;position: absolute;top:30%;left:33%;">
      <img src="/images/one/timg.jpg" width="200px" height="200px"/>
      <div style="font-size:200%;position:relative;top:-66%;left:55%;">支付成功</div>
      <div style="font-size:150%;position:relative;top:-54%;left:55%;">5秒后自动关闭此页面&nbsp;. . .</div>
    </div>
</body>
</html>
