<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <base href="http://localhost/">
    <title>设置新密码 - 嗡嗡嗡</title>
    <meta property="mfw:partner-platform" content="">
    <link href="css/css+login+login_v2_mobile+css+omc+login-omc+login-omc^ZlY^1526627473.css" rel="stylesheet" type="text/css">
    <script language="javascript" src="js/js+global+json2_js+m.statistics^YFQ^1536006240.js" type="text/javascript" crossorigin="anonymous"></script>
</head>
<body>

<div class="wrapper">
    <div class="container">
        <a href="http://www.mafengwo.cn" title="返回首页" class="logo">嗡嗡嗡</a>
        <div class="signup-forms">
            <div class="signup-box">
                <div class="add-info">
                    <div class="hd">设置新密码</div>
                    <div class="alert alert-info" th:if="${null == danger_message}">短信验证码已下发,如果未收到,请<a th:href="@{'usersController/showUpdateuserPassword_html?temp=phone&passport='+${bindPhone}}">点击重新获取</a>。</div>
                    <div class="alert alert-danger" th:if="${null != danger_message}" th:text="${danger_message}"></div>
                    <form action="usersController/update_userPassword_By_bindPhone" method="post" id="_j_forget_mobile_form">
                        <input type="hidden" name="mobile" th:value="${bindPhone}">
                        <div class="form-field">
                            <input name="password" type="password" placeholder="您的密码" autocomplete="off" data-verification-name="密码" class="verification[required,minSize[6],maxSize[50]],funcCall[checkPasswordStrong]]">
                            <div class="err-tip"></div>
                        </div>
                        <div class="form-field">
                            <input name="rpassword" type="password" placeholder="确认密码" autocomplete="off" data-verification-name="密码" class="verification[equals[password]]">
                            <div class="err-tip"></div>
                        </div>
                        <div class="form-field">
                            <input name="smscode" type="text" placeholder="短信验证码" autocomplete="off" data-verification-name="短信验证码" class="verification[required,funcCall[checkSMSCode]]">
                            <div class="err-tip"></div>
                        </div>
                        <div class="submit-btn">
                            <button type="submit">完成</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="javascript" src="js/js+jquery-1.8.1.min_js+plugins+jquery.placeholder_passport+js+app^ZVA^1493174420.js" type="text/javascript" crossorigin="anonymous"></script>
<script language="javascript" src="js/js+mfw.verification_passport+js+form^YFM^1534757150.js" type="text/javascript" crossorigin="anonymous"></script>
<div class="fullscreen-bg" style="background-image: url(images/41.jpg);"><img src="images/41.jpg&#10;" style="width: auto; height: 969px;"></div></body></html>