<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <base href="http://localhost:8000/">
    <title>发送验证邮件 - 嗡嗡嗡</title>
    <meta property="mfw:partner-platform" content="">
    <link href="css/css+login+login_v2_mobile+css+omc+login-omc+login-omc^ZlY^1526627473.css" rel="stylesheet" type="text/css">
    <script language="javascript" src="js+global+json2_js+m.statistics^YFQ^1536006240.js" type="text/javascript" crossorigin="anonymous"></script>
</head>
<body>
<div class="wrapper">
    <div class="container">
        <a href="http://www.mafengwo.cn" title="返回首页" class="logo">嗡嗡嗡</a>
        <div class="signup-forms" id="signup-forms">
            <div class="signup-box">
                <div class="ver-email">
                    <div class="hd">
                        <p>
                            邮件已发送到您的邮箱<br>
                            <span th:text="${bindEmail}"></span><br>
                            请点击邮箱中的验证链接重置密码
                        </p>
                    </div>
                    <a href="http://mail.qq.com" target="_blank" class="btn-link">前往邮箱</a>
                    <div class="tips">
                        <p class="title">------------没有收到邮件？------------</p>
                        <p>❶ 看看Email地址有没有写错</p>
                        <p>❷ 看看是否在垃圾邮箱里</p>
                        <p>❸ 致电客服电话：<strong>400-123-1234</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="javascript" src="js/js+jquery-1.8.1.min_js+plugins+jquery.placeholder_passport+js+app^ZVA^1493174420.js" type="text/javascript" crossorigin="anonymous"></script>
<div class="fullscreen-bg" style="background-image: url(images/39.jpg);"><img src="images/39.jpg&#10;" style="height: 969px; width: auto;"></div></body></html>