<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
    <meta name="renderer" content="webkit" />
    <base href="http://localhost/">
    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
    <link rel="icon" type="image/x-icon" href="images/logoHead.ico">
    <link href="css/css+base_css+jquery.suggest_css+plugins_css+plugins+jquery.jgrowl_css+other+popup_css+app+topbar_v2^alw^1527308432.css" rel="stylesheet" type="text/css"/>
    <link href="css/css+home_new2015+home_new2015_css+home_new2015+home_ask_v2^Zl0^1498530603.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="topBar">
    <div class="topBarC">
        <div class="logo"><a title="马蜂窝自由行" href="/">马蜂窝自由行</a></div>
        <div class="t_nav">
            <ul id="pnl_nav" data-cs-t="headnav_wo">
                <li data-cs-p="index">
                    <strong class="t"><a href="/">首页</a></strong>
                </li>
                <li data-cs-t="wenda" data-cs-p="wenda">
                    <strong class="t"><a data-cs-p="from_wo_nav" href="/wenda/">问答</a></strong>
                </li>
                <li data-cs-t="things" data-cs-p="things">
                    <strong class="t"><a data-cs-p="from_wo_nav" href="/mall/things.php">马蜂窝周边</a></strong>
                </li>
                <li data-cs-p="together">
                    <strong class="t"><a href="/together/">结伴</a></strong>
                </li>
                <li data-cs-p="group">
                    <strong class="t"><a href="/group/">小组</a></strong>
                </li>
                <li data-cs-p="mall">
                    <strong class="t"><a href="/club/">蜂首俱乐部</a></strong>
                </li>
                <li class="drop" data-cs-p="other">
                    <strong class="t"><a href="/app/hun.php">更多<b></b></a></strong>
                    <div class="c">

                        <a href="/focus/" target="_blank">真人兽</a>

                        <a href="/school/" target="_blank">马蜂窝高校</a>
                        <a href="/photo_pk/prev.php" target="_blank">照片PK</a>
                        <a href="/auction/" target="_blank">马蜂窝拍卖行</a>
                        <a href="/mall/virtual_goods.php" target="_blank">道具商店</a>
                        <a href="/radio/" target="_blank">旅行电台</a>
                        <a href="/club/" target="_blank">蜂首聚乐部</a>
                        <a href="/home/vip_show.php" target="_blank">VIP</a>
                        <a href="/game/wager.php" target="_blank">分歧终端机</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="t_search">
            <form method="GET" action="/search/s.php" name="search">
                <input type="text" class="key" value="" name="q" id="word">
                <input type="submit" value="" class="btn">
            </form>
        </div>

        <div class="t_info">
            <div data-pagelet id="pagelet-block-194fe9af3bb472f0f55cad1508c7c29b" class="" data-api="apps:user:pagelet:pageViewHeadInfo" data-params="{&quot;type&quot;:2}" data-async="1" data-controller="/js/pageletcommon/pageHeadUserInfoWWWDark"></div>
        </div>
    </div>
</div>



<input type="hidden" id="_j_param" data-type="1" data-flag="0" data-total="0" data-uid="52028572">
<div class="main">
    <div class="banner">

        <style>
            .invisible {opacity:0.01; filter: alpha(opacity=1);}
            .invisible .maps-container {opacity:0.01; filter: alpha(opacity=1);}
        </style>

        <div class="banner_img banner_ask" id="_j_banner">
        </div>
        <div class="tags_bar second_tags_bar">
            <div class="center clearfix">
                <ul class="flt2" id="titleBar"></ul>
            </div>
        </div>
    </div>
    <div class="center">
        <div class="side_bar flt1">
            <div class="MAvatar">
                <div class="MAvaImg hasAva">
                    <img height="120" width="120"><a class="MAvaUp"><i class="Mphoto"></i></a></input>
                </div>
                <div class="MAvaName"></div>
                <div class="MAvaInfo clearfix MAvaMyInfo"></div>
                <div id="_j_profilearea" class="MAvaProfile"></div>
            </div>
        </div>
        <div class="content flt2">
            <div class="achievement clearfix">
                <ul>
                    <li><strong>0</strong><div>回答数</div></li>
                    <li><strong class="goldmedal"><i></i>0</strong><div>金牌回答</div></li>
                    <li><strong>0%</strong><div>采纳率</div></li>
                </ul>
                <a class="btn" href="front_desk/askRespond/question.html">我要提问</a>
            </div>
            <div class="wd-main">
                <div class="wd-navbar clearfix">
                    <ul class="wd-nav _j_qa_nav">
                        <li class='on'><a>TA的回答</a></li>
                        <li ><a>TA的提问</a></li>
                    </ul>
                </div>
                <div class="wd-total">共有<span class="_j_total_item">0条</span>回答</div>
                <div class="wd-list _j_qa_list">
                    <div class="no_data">
                        <img src="images/home_new2015/no_num.png" height="139" width="156" alt="">
                        <p>这里的世界静悄悄</p>
                    </div>
                </div>
                <div class="pagin" id="smallpager"></div>
            </div>
        </div>
    </div>
</div>
<link href="css/mfw-footer.css" rel="stylesheet" type="text/css"/>
<div id="footer">
    <div class="ft-content" style="width: 1105px">
        <div class="ft-copyright">
            <a href="http://www.mafengwo.cn"><i class="ft-mfw-logo"></i></a>
            <p>© 2018 Mafengwo.cn <a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备11015476号</a> <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502013401" target="_blank"><img src="http://images.mafengwo.net/images/footer/police_record.png" width="12" style="margin:0 2px 4px 0;">京公网安备11010502013401号</a> <a href="http://images.mafengwo.net/images/about/icp2.jpg" target="_blank" rel="nofollow">京ICP证110318号</a><span class="m_l_10">违法和不良信息举报电话: 010-59222790 举报邮箱 mfwyouji@mafengwo.com</span></p>
            <p>网络出版服务许可证：(总)网出证(京)字第161号<span class="m_l_10">增值电信业务经营许可证：京B2-20180228</span> <a href="http://images.mafengwo.net/images/about/licence_3.jpg" target="_blank" rel="nofollow" class="m_l_10">营业执照</a><a href="/sales/uhelp/doc" target="_blank" rel="nofollow" class="m_l_10">帮助中心</a><span class="m_l_10">马蜂窝客服：国内</span><span class="highlight">4006-345-678</span><span class="m_l_10">海外</span> <span class="highlight">+86-10-5922-2799</span></p>
        </div>
        <div class="ft-safety">
            <a class="s-a" target="_blank" href="https://search.szfw.org/cert/l/CX20140627008255008321" id="___szfw_logo___"></a>
            <a class="s-b" href="https://ss.knet.cn/verifyseal.dll?sn=e130816110100420286o93000000&ct=df&a=1&pa=787189" target="_blank" rel="nofollow"></a>
            <a class="s-c" href="http://www.itrust.org.cn/Home/Index/itrust_certifi/wm/1669928206.html" target="_blank" rel="nofollow"></a>
        </div>

    </div>
</div>
<link href="css/mfw-toolbar.css" rel="stylesheet" type="text/css"/>
<div class="mfw-toolbar" id="_j_mfwtoolbar">
    <div class="toolbar-item-top">
        <a role="button" class="btn _j_gotop">
            <i class="icon_top"></i>
            <em>返回顶部</em>
        </a>
    </div>
    <div class="toolbar-item-feedback">
        <a role="button" data-japp="feedback" class="btn">
            <i class="icon_feedback"></i>
            <em>意见反馈</em>
        </a>
    </div>
    <div class="toolbar-item-code">
        <a role="button" class="btn">
            <i class="icon_code"></i>
        </a>
        <a role="button" class="mfw-code _j_code">
            <img src="https://p1-q.mafengwo.net/s1/M00/6C/51/wKgIC1t_6TuASybrAADGUPUHjr021.jpeg?imageMogr2%2Fthumbnail%2F%21450x192r%2Fgravity%2FCenter%2Fcrop%2F%21450x192%2Fquality%2F90" width="450" height="192" >
        </a>
        <!--<div class="wx-official-pop"><img src="http://images.mafengwo.net/images/qrcode-weixin.gif"><i class="_j_closeqrcode"></i></div>-->
    </div>
    <div class="toolbar-item-down">
        <a role="button" class="btn _j_gobottom">
            <i class="icon_down"></i>
            <em>页面底部</em>
        </a>
    </div>
</div>
<input type="hidden" id="currentuserId">
<input type="hidden" id="userId">
<script>
    $().ready(
        function()
        {
            var userId=GetQueryString("userId");//获取地址栏中的userId
            var currentuserId="";
            $("#userId").val(userId);
            if(null!=userId&&0<userId.length)
            {
                //获取当前登录用户
                $.ajax({
                    url:"usersController/getCurrentLoginUser",
                    dataType:"json",
                    type:"post",
                    success:function(data)
                    {
                        if(null!=data)
                        {
                            var titleBarHtml="";
                            var _j_qa_navHtml="";
                            if(data.loginState)
                            {
                                currentuserId=data.currentUser.userId;
                                $("#currentuserId").val(data.currentUser.userId);
                                if(data.currentUser.userId!=userId)//如果当前用户是本网页用户
                                {
                                    titleBarHtml+="<li><a class='tags_link' href='front_desk/users/personalSpace.html?userId="+userId+"' title='TA的窝'>TA的窝</a></li>";
                                    titleBarHtml+="<li><a class='tags_link' href='front_desk/users/travelNotes.html?userId=" + userId + "' title='TA的游记'>TA的游记</a></li>";
                                    titleBarHtml+="<li class='on'><a class='tags_link' href='front_desk/users/my_replyAskRespond.html?userId="+userId+"' title='TA的问答'>TA的问答</a></li>";
                                    titleBarHtml+="<li><a class='tags_link' href='front_desk/travelNotes/createNoteIndex.html' title='写游记'>写游记</a></li>";
                                    titleBarHtml+="<li><a class='tags_link' href='front_desk/askRespond/askRespond.html' title='问达人'>问达人</a></li>";
                                    _j_qa_navHtml+="<li class='on'><a href='front_desk/users/my_replyAskRespond.html?userId="+userId+"'>TA的回答</a></li>";
                                    _j_qa_navHtml+="<li><a href='front_desk/users/my_askRespond.html?userId="+userId+"'>TA的提问</a></li>";
                                }
                                else
                                {
                                    titleBarHtml+="<li><a class='tags_link' href='front_desk/users/personalSpace.html?userId="+userId+"' title='我的窝'>我的窝</a></li>";
                                    titleBarHtml+="<li><a class='tags_link' href='front_desk/users/travelNotes.html?userId=" + userId + "'>我的游记</a></li>";
                                    titleBarHtml += "<li><a class='tags_link' href='front_desk/users/my_travelCollection.html?userId="+userId+"' title='游记收藏'>游记收藏</a></li>";
                                    titleBarHtml+="<li class='on'><a class='tags_link' href='front_desk/users/my_replyAskRespond.html?userId="+userId+"' title='我的问答'>我的问答</a></li>";
                                    titleBarHtml+="<li><a class='tags_link' href='front_desk/travelNotes/createNoteIndex.html' title='写游记'>写游记</a></li>";
                                    titleBarHtml+="<li><a class='tags_link' href='front_desk/askRespond/askRespond.html' title='问达人'>问达人</a></li>";
                                    titleBarHtml+="<li class='more '><span class='tags_link' role='button' title='更多' style='cursor:default'>更多<i class='MDownMore'></i></span><div class='tags_more_list'><ul><li><a href='front_desk/users/my_collect_scenicSpotCollect.html' title='我的收藏'><i class='ico_collect'></i><span>我的收藏</span></a></li><li><a href='front_desk/users/my_orderForm.html' title='我的订单'><i class='ico_order'></i><span>我的订单</span></a></li></ul></div></li>";
                                    _j_qa_navHtml+="<li><a href='front_desk/users/my_replyAskRespond.html?userId="+userId+"'>我的回答</a></li>";
                                    _j_qa_navHtml+="<li><a href='front_desk/users/my_askRespond.html?userId="+userId+"'>我的提问</a></li>";
                                    _j_qa_navHtml+="<li><a href='front_desk/users/all_askRespond.html?userId="+userId+"'>我来解答</a></li>";
                                    _j_qa_navHtml+="<li class='on'><a href='front_desk/users/my_replyAskRespondTop.html?userId="+userId+"'>收藏回答</a></li>";
                                }
                            }
                            else
                            {
                                titleBarHtml+="<li><a class='tags_link' href='front_desk/users/personalSpace.html?userId="+userId+"' title='TA的窝'>TA的窝</a></li>";
                                titleBarHtml+="<li><a class='tags_link' href='front_desk/users/travelNotes.html?userId=" + userId + "' title='TA的游记'>TA的游记</a></li>";
                                titleBarHtml+="<li class='on'><a class='tags_link' href='front_desk/users/my_replyAskRespond.html?userId="+userId+"' title='TA的问答'>TA的问答</a></li>";
                                titleBarHtml+="<li><a class='tags_link' href='front_desk/travelNotes/createNoteIndex.html' title='写游记'>写游记</a></li>";
                                titleBarHtml+="<li><a class='tags_link' href='front_desk/askRespond/askRespond.html' title='问达人'>问达人</a></li>";
                                _j_qa_navHtml+="<li class='on'><a href='front_desk/users/my_replyAskRespond.html?userId="+userId+"'>TA的回答</a></li>";
                                _j_qa_navHtml+="<li><a href='front_desk/users/my_askRespond.html?userId="+userId+"'>TA的提问</a></li>";
                            }
                            $("#titleBar").html(titleBarHtml);
                            $("._j_qa_nav").html(_j_qa_navHtml);
                            //获取当前页面用户
                            $.ajax({
                                url:"usersController/find_userByuserId",
                                dataType:"json",
                                type:"post",
                                data:{userId:userId},
                                success:function(data)
                                {
                                    $("title").text(data.userName+"的问答  -  嗡嗡嗡");
                                    var MAvaInfoHtml="";
                                    $(".MAvaImg").children("img").attr("src",data.photo);
                                    if(null!=data.address&&0<data.address.length)
                                        MAvaInfoHtml+="<span class='MAvaPlace flt1' title=''>现居:"+data.address+"</span>";
                                    var MAvaNameHtml="";
                                    MAvaNameHtml+=data.userName;
                                    if(data.sex=="男")
                                        MAvaNameHtml+="<i class='MGenderMale'></i>";
                                    else
                                        MAvaNameHtml+="<i class='MGenderFemale'></i>";
                                    $(".MAvaName").html(MAvaNameHtml);
                                    if(currentuserId==userId)//如果当前用户是本网页用户
                                    {
                                        $(".MAvaUp").attr("href","个人信息设置");
                                        MAvaInfoHtml+="<span class='MAvaSet'><a title='设置' href='个人信息设置'  target='_blank'></a></span>";
                                        $("#_j_profilearea").html("<a role='button' class='addBtn _j_showintrobox'>填写个人简介</a><div class='MAvaInput hide _j_inputarea'><textarea id='_j_introarea' placeholder='例：摄影师/旅居澳洲/潜水爱好者' maxlength='100'></textarea><a role='button' id='_j_introsaver' class='MAvaBtn' title='保存'>保存</a></div>");
                                    }
                                    else
                                    {
                                        if(null!=data.individualResume&&0<data.individualResume.length)//个人简介
                                            $("#_j_profilearea").html("<span>"+data.individualResume+"</span>")
                                        else
                                            $("#_j_profilearea").html("<span></span>")
                                    }
                                    $(".MAvaInfo").html(MAvaInfoHtml);
                                }
                            });
                            if(userId==currentuserId)
                                load_replyAskRespond(userId,1);
                        }
                    }
                });
            }
            else
            {
                var titleBarHtml="";
                titleBarHtml+="<li><a class='tags_link' title='TA的窝'>TA的窝</a></li>";
                titleBarHtml+="<li><a class='tags_link' title='TA的游记'>TA的游记</a></li>";
                titleBarHtml+="<li class='on'><a class='tags_link' title='TA的问答'>TA的问答</a></li>";
                titleBarHtml+="<li><a class='tags_link' href='front_desk/travelNotes/createNoteIndex.html' title='写游记'>写游记</a></li>";
                titleBarHtml+="<li><a class='tags_link' href='front_desk/askRespond/askRespond.html' title='问达人'>问达人</a></li>";
                $("#titleBar").html(titleBarHtml);
            }
        }
    );

    /**
     * 根据用户编号分页加载回复问答
     * @param userId
     * @param pageIndex
     */
    function load_replyAskRespond(userId,pageIndex)
    {
        $.ajax({
            url:"replyAskRespondController/find_replyAskRespondByreplyAskRespondTopAnduserIdAndstateId",
            dataType:"json",
            type:"post",
            data:{userId:userId,pageIndex:parseInt(pageIndex)},
            success:function(data)
            {
                load_data(data);
            }
        });
    }
    /**
     * 用户点击分页按钮,根据用户编号分页加载回复问答
     * @param userId
     * @param pageIndex
     */
    function load_replyAskRespondBypage(obj)
    {
        var userId=$("#userId").val();
        var pageIndex=$(obj).attr("data-page");
        $.ajax({
            url:"replyAskRespondController/find_replyAskRespondByreplyAskRespondTopAnduserIdAndstateId",
            dataType:"json",
            type:"post",
            data:{userId:userId,pageIndex:parseInt(pageIndex)},
            success:function(data)
            {
                load_data(data);
            }
        });
    }
    function load_data(data)
    {
        if(null!=data)
        {
            var currentIndex=parseInt(data.currentIndex);
            var pages=parseInt(data.pages);
            var replyAskRespondsNum=parseInt(data.replyAskRespondsNum);
            var optimumAnswerNum=parseInt(data.optimumAnswerNum);
            var cainalv=parseInt(data.cainalv);
            if(replyAskRespondsNum==0&&optimumAnswerNum==0)
                cainalv=0;
            $($(".achievement ul").children("li")[0]).children("strong").text(replyAskRespondsNum);
            $($(".achievement ul").children("li")[1]).children("strong").html("<i></i>"+optimumAnswerNum);
            $($(".achievement ul").children("li")[2]).children("strong").text(cainalv+"%");
            $("._j_total_item").text(data.replyAskRespondTopNums+"条");
            if(null!=data.replyAskResponds&&0<data.replyAskResponds.length)
            {
                var _j_qa_listHtml="";
                for(var i=0;i<data.replyAskResponds.length;i++)
                {
                    var wd_medalHtml = "";
                    if (null != data.replyAskResponds[i].optimumAnswer && data.replyAskResponds[i].optimumAnswer == "true")
                        wd_medalHtml = "<span class='wd-medal-goldmaster'><span class='medal-tips'>金牌回答</span></span>";
                    var wd_titleHtml = "";
                    if (null != data.replyAskResponds[i].askrespond && null != data.replyAskResponds[i].askrespond.cityId && "" != data.replyAskResponds[i].askrespond.cityId)
                        wd_titleHtml="<a href='front_desk/askRespond/replyRespond.html?askRespondId="+data.replyAskResponds[i].askrespond.askRespondId+"' target='_blank'><span class='label-mdd'><i></i>"+data.replyAskResponds[i].askrespond.city.cityName+"</span>"+data.replyAskResponds[i].askrespond.askRespondTitle+"</a>";
                    else
                        wd_titleHtml="<a href='front_desk/askRespond/replyRespond.html?askRespondId="+data.replyAskResponds[i].askrespond.askRespondId+"' target='_blank'>"+data.replyAskResponds[i].askrespond.askRespondTitle+"</a>";
                    var wd_detailHtml="";
                    if(null!=data.replyAskResponds[i].replyHeadPhoto&&""!=data.replyAskResponds[i].replyHeadPhoto)
                        wd_detailHtml+="<span class='img'><img width='150px' height='100px' src='"+data.replyAskResponds[i].replyHeadPhoto+"'></span>";
                    if(null!=data.replyAskResponds[i].replyBrief&&""!=data.replyAskResponds[i].replyBrief)
                        wd_detailHtml+=data.replyAskResponds[i].replyBrief;
                    _j_qa_listHtml+="<div class='wd-item'><div class='wd-medal'>"+wd_medalHtml+"</span></div><div class='wd-title'>"+wd_titleHtml+"</div><div class='wd-detail'>"+wd_detailHtml+"</div><div class='wd-meta'><span class='meta-item meta-like'><i></i>"+data.replyAskResponds[i].replyAskRespondTopNum+"</span><div class='meta-pull'><span class='meta-item meta-user'><img src='"+data.replyAskResponds[i].user.photo+"'>"+data.replyAskResponds[i].user.userName+"</span><span class='meta-item meta-commit'>"+data.replyAskResponds[i].replyAskRespondCommentNum+"评论</span><span class='meta-item meta-time'>"+format_time(data.replyAskResponds[i].releaseTime)+"</span><span class='meta-item meta-status _j_cancel_collect' onclick='cancel_replyAskRespondTop(this)' data-replyAskRespondTopId='"+data.replyAskResponds[i].replyAskRespondTopId+"'><a>取消收藏</a></span></div></div></div>";
                }
                $("._j_qa_list").html(_j_qa_listHtml);
            }
            var _j_tn_paginationHtml="";
            _j_tn_paginationHtml="<div align='right' class='m-pagination' id='_j_tn_pagination'><span class='count'>共"+pages+"页 / "+data.replyAskRespondTopNums+"条</span>";
            if(1!=currentIndex)
                _j_tn_paginationHtml+="<a class='pg-prev _j_pageitem'  data-page='"+(currentIndex-1)+"' onclick='load_replyAskRespondBypage(this)'>&lt;&lt; 上一页</a>";
            for(var i=currentIndex-4;i<currentIndex;i++)
            {
                if(i>0)
                    _j_tn_paginationHtml+="<a class='pi _j_pageitem' onclick='load_replyAskRespondBypage(this)'  data-page='"+i+"' >"+i+"</a>";
            }
            _j_tn_paginationHtml+="<span class='pg-current'>"+currentIndex+"</span>";
            for(var i=currentIndex+1;i<=pages;i++)
            {
                _j_tn_paginationHtml+="<a class='pi _j_pageitem' onclick='load_replyAskRespondBypage(this)'  data-page='"+i+"' >"+i+"</a>";
            }
            if(pages!=currentIndex)
                _j_tn_paginationHtml+="<a class='pg-next _j_pageitem' data-page='"+(currentIndex+1)+"' onclick='load_replyAskRespondBypage(this)'>下一页 &gt;&gt;</a>";
            _j_tn_paginationHtml+="</div>";
        }
        $("#smallpager").html(_j_tn_paginationHtml);
    }
    //获取地址栏中的参数
    function GetQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }
    //转换日期
    function format_time(replyTime)
    {
        return replyTime.substring(0,replyTime.lastIndexOf(".")).replace("T"," ");
    }
    //显示5秒钟消息提示
    function showover_message(msg)
    {
        $("body").append("<div id='over_container'><div id='over_message'>"+msg+"</div></div>");
        var over_container_setInterval=setInterval(function(){
            if($("#over_container").length>0)
            {
                $("#over_container").remove();
                window.clearInterval(over_container_setInterval);
            }
        },5000);
    }

    //取消收藏回复问答
    function cancel_replyAskRespondTop(obj)
    {
        var replyAskRespondTopId=$(obj).attr("data-replyAskRespondTopId");
        console.log(replyAskRespondTopId);
        $.ajax({
            url:"replyAskRespondTopController/delete_replyAskRespondTopByreplyAskRespondTopId",
            dataType:"json",
            type:"post",
            data:{replyAskRespondTopId:replyAskRespondTopId},
            success:function(data)
            {
                var userId=$("#userId").val();
                if(data==true)
                    load_replyAskRespond(userId,1);
            }
        });
    }
    //由于ajax请求时,拦截器拦截到未登录时无法登录,所以ajaxSetup方法就是在所有ajax请求结束后执行跳转页面
    $.ajaxSetup({
        //设置ajax请求结束后的执行动作
        complete :
            function(XMLHttpRequest, textStatus) {
                // 通过XMLHttpRequest取得响应头，sessionstatus
                var sessionstatus = XMLHttpRequest.getResponseHeader("sessionstatus");
                if (sessionstatus == "TIMEOUT") {
                    var win = window;
                    while (win != win.top){
                        win = win.top;
                    }
                    var currentHref=win.location.href;
                    win.location.href= XMLHttpRequest.getResponseHeader("CONTEXTPATH")+"?url="+currentHref;
                }
            }
    });
</script>
</body>
</html>