<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>

    <!-- 引入Easyui -->
    <script src="Easyui/jquery.min.js"  ></script>
    <script src="Easyui/jquery.easyui.min.js" ></script>
    <script  src="Easyui/locale/easyui-lang-zh_CN.js" ></script>
    <link href="Easyui/themes/default/easyui.css" rel="stylesheet">
    <link href="Easyui/themes/icon.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href='images/logoHead.ico'>
    <style>

        button{
            -web-kit-appearance:none;
            -moz-appearance: none;
            border-radius:4px;
            border:1px solid #c8cccf;
            color:white;
            outline:0;
            font-weight: bold;
        }

    </style>

    <script th:inline="none">

        var url;

        $(function(){

            //初始化datagrid数据表格
            $('#dg').datagrid({
                url:'/pagingQueryAdmin',
                columns:[[
                    {field:'id',title:'编号',width:50},
                    {field:'adname',title:'账号',width:50},
                    {field:'state',title:'价格',width:50,formatter:formatterState}
                ]],
                pagination:true,
                pageNumber:1,
                pageSize:10,
                pageList:[10,15,20,25],
                rownumbers:true,
                singleSelect:true,
                fitColumns:true,
                toolbar: [//工具栏
                    { //添加按钮
                    iconCls: 'icon-add',
                    handler: function(){
                        url="/addAdmin";
                        $("#dd").dialog({title:'Add'});
                        $("#adname").textbox({"disable":false}); //添加时回复输入
                        $("#dd").dialog("open");
                    }
                },'-',{ //删除按钮
                    iconCls: 'icon-remove',
                    handler: function(){
                        var row=$("#dg").datagrid("getSelected");
                        if(row==null){
                            alert("请选择要删除的行");
                        }else{
                            $.messager.confirm('确认','您确认想要删除次记录吗？',function(r){
                                if (r){
                                    $.ajax({
                                        url:'/byIdDelAdmin',
                                        type:'post',
                                        data:{
                                            id:row.id
                                        },
                                        dataType:'text',
                                        success:function(data){
                                            if(data) {
                                                handlerOk();
                                            }else{
                                                alert("操作失败");
                                            }
                                            $("#dg").datagrid("reload");
                                        }
                                    });
                                }
                            });
                        }
                    }
                },'-',{ //修改按钮
                    iconCls: 'icon-edit',
                    handler: function(){
                        var row=$("#dg").datagrid("getSelected");
                        if(row==null){
                            alert("请选择要修改的行");
                        }else{
                            url="/EditAdmin",
                            $("#ff").form("load",row);
                            $("#dd").dialog("open");
                            $("#adname").textbox({"disable":true}); //禁用账号textbox，不让修改账号
                        }
                    }
                }
                ]
            });

            //初始化dialog对话框
            $('#dd').dialog({
                width: 400,
                height:"auto",
                closed:true
            });

            //初始化角色下拉框
            $('#cc').combobox({
                url:'/queryAllRole',
                valueField:'id',
                textField:'rname',
                width:160,
                panelWidth:160, //下拉框面板宽度
                panelHeight:"auto",//下拉框面板高度
                limitToList:true //限制只能输入下拉框里的值
            });

            //save点击事件，修改或添加
            $("#save").click(function(){
                if($("#ff").form("validate")){ //校验form组件是否验证成功
                    $("#ff").form("submit",{
                        url:url,
                        success:function(data){
                            if(data=="true"){
                                handlerOk(); //show消息
                            }else{
                                alert("操作失败");
                            }
                            $("#dd").dialog("close");
                            $("#dg").datagrid("reload");
                        }
                    });
                }else{
                    alert("请输入完整");
                }
            });

            //关闭dialog对话框清空form组件
            $("#dd").dialog({
                onClose:function(){
                    $("#ff").form("clear");
                }
            });

            //点击取消关闭dialog
            $("#cancel").click(function(){
                $("#dd").dialog("close");
            });

        });

        function handlerOk(){
            $.messager.show({
                title:'我的消息',
                msg:'操作成功，消息将在2秒后关闭。',
                timeout:2000,
                showType:'slide'
            });
        }

        //格式化state属性
        function formatterState(value,row,index){
            if(value=="0"){
                return "<button style='width:50px;height:25px;background:#1AB394;'>正常</button>";
            }else if(value=="1"){
                return "<button style='width:50px;height:25px;background:#ED5565;'>禁用</button>";
            }
        }

    </script>

</head>
<body>

    <!--datagrid数据表格-->
    <table id="dg"></table>

    <!-- dialog对话框 -->
    <div id="dd">
        <form id="ff" method="post" align="center">
            <input type="hidden" name="id">
            <p><input id="adname" name="adname" class="easyui-validatebox easyui-textbox" data-options="required:true,prompt:'请输入',buttonText:'账号',buttonAlign:'left'" /></p>
            <p><input id="pwd" name="pwd" class="easyui-validatebox easyui-passwordbox" data-options="required:true,prompt:'请输入',buttonText:'密码',buttonAlign:'left'" /></p>
            <p>
                <select id="state" class="easyui-combobox" name="state" data-options="limitToList:true,required:true,prompt:'请选择',buttonText:'状态',buttonAlign:'left',width:'160',panelWidth:160,panelHeight:'auto'">
                    <option value="0" selected>正常</option>
                    <option value="1">禁用</option>
                </select>
            </p>
            <p><input id="cc" name="rid" data-options="required:true,prompt:'请选择',buttonText:'角色',buttonAlign:'left'"></p>
            <p>
                <a id="save" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="cancel" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
            </p>

        </form>
    </div>



</body>
</html>
