<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>

    <!-- 引入Easyui -->
    <script type="text/javascript" src="Easyui/jquery.min.js"></script>
    <script type="text/javascript" src="Easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="Easyui/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="Easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="Easyui/themes/icon.css">
    <link rel="icon" type="image/x-icon" href='images/logoHead.ico'>
    <script th:inlie="none">
        $(function(){

            //初始化datagrid数据表格
            $('#dg').datagrid({
                url:'byAssigneeQueryTask',
                columns:[[
                    {field:'id',title:'ID',width:100},
                    {field:'name',title:'名称',width:100},
                    {field:'createtime',title:'创建时间',width:200},
                    {field:'days',title:'请假天数',width:100},
                    {field:'reason',title:'请假原因',width:100},
                    {field:'state',title:'请假状态',width:100,formatter:formatterState},
                    {field:'reject',title:'驳回原因',width:100}
                ]],
                fitColumns:true,
                singleSelect:true,
                rownumbers:true,
                pagination:true,
                pageNumber:1,
                pageSize:5,
                pageList:[5,10,15,20],
                toolbar: [{
                    iconCls: 'icon-add',
                    text:'我要请假',
                    handler: function(){
                        $("#dd").dialog({title:'请假表单'});
                        $("#dd").dialog("open");
                    }
                },'-',{
                    iconCls: 'icon-help',
                    handler: function(){alert('帮助按钮')}
                }]
            });

            //初始化dialog对话框
            $('#dd').dialog({
                width: 300,
                height: "auto",
                closed:true
            });

            //save点击事件
            $("#save").click(function(){
                if($("#ff").form("validate")!=null){
                    $("#ff").form("submit",{
                        url:'/StartProcess',
                        success:function(data){
                            if(data!=null){
                            $.messager.show({
                                    title:'我的消息',
                                    msg:'提交成功，消息将在2秒后关闭。',
                                    timeout:2000,
                                    showType:'slide'
                                });
                            }else{
                                alert("操作失败，请重新操作");
                            }
                            $("#dg").datagrid("reload");
                            $("#dd").dialog("close");
                        }
                    });
                }else{
                    alert("请输入完整");
                }
            });

        });

        function formatterState(value,row,index){
            if(value=="0"){
                return "未审核";
            }else if(value=="1"){
                return "批准";
            }else if(value=="2"){
                return "驳回";
            }
        }

    </script>

</head>
<body>

    <table id="dg"></table>

    <div id="dd" align="center">
        <form id="ff" method="post">
            <p><input name="days" class="easyui-textbox easyui-validatebox" data-options="prompt:'请输入',buttonAlign:'left',buttonText:'请假',required:true"></p>
            <p><input name="reason" class="easyui-textbox easyui-validatebox" data-options="prompt:'请输入',buttonAlign:'left',buttonText:'原因',required:true"></p>
            <p>
                <a id="save" class="easyui-linkbutton" data-options="iconCls:'icon-save'">提交</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="cancel" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
            </p>
        </form>
    </div>

</body>
</html>
