<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>

    <!-- 引入Easyui -->
    <script type="text/javascript" src="Easyui/jquery.min.js"></script>
    <script type="text/javascript" src="Easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="Easyui/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="Easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="Easyui/themes/icon.css">

    <script th:inline="none">

        var taskId; //执行任务id

        $(function(){

            //初始化datagrid数据表格
            $('#dg').datagrid({
                url:'/pagingQueryRuntimeTask',
                columns:[[
                    {field:'id',title:'ID',width:100},
                    {field:'name',title:'名称',width:100},
                    {field:'assignee',title:'发起人',width:100},
                    {field:'createtime',title:'创建时间',width:200},
                    {field:'days',title:'请假天数',width:100},
                    {field:'reason',title:'请假原因',width:100},
                    {field:'state',title:'请假状态',width:100,formatter:formatterState},
                    {field:'reject',title:'驳回原因',width:100},
                    {field:'a',title:'审核',width:100,formatter:formatterA}
                ]],
                fitColumns:true,
                singleSelect:true,
                rownumbers:true,
                pagination:true,
                pageNumber:1,
                pageSize:5,
                pageList:[5,10,15,20]
            });

            //初始化dialog对话框
            $('#dd').dialog({
                title: 'My Dialog',
                width: 400,
                height: 200,
                closed: true
            });

            //save点击事件
            $("#save").click(function () {
                ok(taskId);
            });
            
        });

        //格式化状态
        function formatterState(value,row,index){
            if(value=="0"){
                return "未审核";
            }else if(value=="1"){
                return "批准";
            }else if(value=="2"){
                return "驳回";
            }
        }

        //批准点击事件
        function ok(tid){
            taskId=tid; //设置执行任务的id
            $.ajax({
               url:'/ByTaskIdcompleteTask',
               type:'post',
               data:{
                   id:taskId,
                   reject:$("#reject").val() //批准就不设置驳回原因
               },
               dataType:'text',
                success:function(data){
                    if(data!=null){
                        $.messager.show({
                            title:'我的消息',
                            msg:'审核成功，消息将在2秒后关闭。',
                            timeout:2000,
                            showType:'slide'
                        });
                    }else{
                        alert("操作失败，请重新操作");
                    }
                    $("#dg").datagrid("reload");
                }
            });
        }

        //点击驳回事件
        function no(tid){
            taskId=tid; //设置执行任务的id
            $("#dd").dialog("open");
        }

        function formatterA(value,row,index){
            if(row.state=="0"){
                return "<a href='javascript:ok("+row.id+");'>批准</a>&nbsp;&nbsp;<a href='javascript:no("+row.id+");'>驳回</a>";
            }
        }

    </script>

</head>
<body>

    <table id="dg"></table>

    <div id="dd" align="center">
        <p><input name="reject" id="reject" class="easyui-textbox easyui-validatebox" data-options="prompt:'请输入',buttonAlign:'left',buttonText:'驳回原因',required:true"></p>
        <p>
            <a id="save" class="easyui-linkbutton" data-options="iconCls:'icon-save'">提交</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a id="cancel" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
        </p>
    </div>

</body>
</html>
